.App {
  margin: 40px auto;
  max-width: 860px;
  align-content: center;
}

/* button {
  margin-left: 430px;
} */
h2{
  color: grey;
  font-family: monospace;
}

button {
  color: #fff;
  width: 120px;
  height: 40px;
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  font-size: 1em;
  border-radius: 0.5em;
  font-family: cursive;
  border: aliceblue;
  border-color: currentColor;
 
}


h1 {
  
  font-family: cursive;
  color: deepskyblue;

}

.center{
  text-align: center;
}

.grid-container{
  
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  /* grid-template-columns:repeat(3,minmax(20px,100px)); */
  /* align-items: stretch;
  justify-content: center;
  background-color: grey;
  align-content: center; */
  /*padding: 2em;*/
  /* margin: 2em;
  padding: 5em; */
}

.grid-item{
  /*background-image:url('/public/images/circle.jpg') ;
  background-repeat: no-repeat;
  object-fit: contain;*/
  border-radius: 25px;
   height: 200px; 
  width: 100%;
  
 /*align-self: center;*/
/* border: 5px solid blue;*/
 
  
}

.grid-item img{
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.animation{
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  transition: all 150ms ease-in-out;
  height: 200px; 
  width: 100%;
}
.animation:hover{
  top: -3px;
	left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}

.animation:active{
  top: 2px;
	left: 2px;
	box-shadow: inset 0 0 10px rgba(82, 82, 82, 0.85);
}


@media screen and (max-width: 680px) {
  .animation{
  height: 100px;
  }
  .grid-item{
    height: 100px;
  }
}


@media screen and (max-width: 480px) {
  .animation{
  height: 60px;
  }
  .grid-item{
    height: 60px;
  }
}



